name: Test
on: [pull_request]
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: go fmt
        run: test -z $(gofmt -l .)

      - name: go vet
        run: go vet ./...

      - name: golint
        run: go install golang.org/x/lint/golint@latest && golint -set_exit_status ./...

      - name: test
        run: go test -timeout 30s -race ./...

      - name: Check go generate
        run: go generate ./...&& [ -z "$(git status --porcelain)" ]

      - name: Check go mod tidy
        run: go mod tidy && [ -z "$(git status --porcelain)" ]
